doctype html
html
  head
    title Cywolf
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
  body
    block content